
1: Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. i. WAP to add 200 and 300 to L. ii. WAP to remove 10 and 30 from L. iii. WAP to sort L in ascending order. iv. WAP to sort L in descending order.


> Add blockquote

In [2]:
list1 = [10, 20, 30, 40, 50, 60, 70, 80]
list1.extend([200,300])
print(list1)
list1.remove(20)
list1.remove(60)
print(list1)
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[10, 30, 40, 50, 70, 80, 200, 300]
[10, 30, 40, 50, 70, 80, 200, 300]
[300, 200, 80, 70, 50, 40, 30, 10]

2: Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: i. Identify the highest score and its index in the tuple. ii. Find the lowest score and count how many times it appears. iii. Reverse the tuple and return it as a list. iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [3]:

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print(max(scores))
print(scores.index(max(scores)))
print(min(scores))
print(scores.count(max(scores)))
tupleToList = list(scores[::-1])
print(f"{tupleToList}")
val = 76
try:
    print(f"The first occurrence of score {val} is at index {scores.index(val)}.")
except ValueError:
    print(f"Score {val} is not present in the tuple.")

92
5
45
1
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
The first occurrence of score 76 is at index 2.

3: WAP to create a list of 100 random numbers between 100 and 900. Count and print the: i. All odd numbers ii. All even numbers iii. All prime numbers

In [4]:
import random
listX = [random.randint(100,900) for _ in range(100)]
print("List :",listX)
evenNum = [x for x in listX if x%2==0]
print("Even Num:", evenNum)
oddNum = [x for x in listX if not x%2==0]
print("Odd Num:",oddNum)
primeNum = [x for x in listX if all(i%x!=0 for i in range(2,int(x**0.5)+1))]
print("Prime Num:",primeNum)

List : [332, 624, 570, 299, 378, 587, 167, 351, 820, 403, 835, 696, 759, 318, 269, 714, 102, 308, 838, 582, 515, 504, 375, 492, 856, 772, 581, 762, 800, 343, 351, 570, 288, 798, 495, 258, 868, 294, 771, 802, 354, 472, 425, 453, 520, 328, 195, 750, 109, 790, 701, 700, 487, 853, 476, 548, 197, 284, 785, 341, 297, 342, 717, 287, 306, 769, 516, 269, 844, 777, 758, 632, 473, 404, 283, 809, 637, 435, 353, 599, 642, 811, 652, 316, 450, 241, 687, 285, 807, 813, 807, 113, 191, 237, 711, 305, 514, 300, 643, 749]
Even Num: [332, 624, 570, 378, 820, 696, 318, 714, 102, 308, 838, 582, 504, 492, 856, 772, 762, 800, 570, 288, 798, 258, 868, 294, 802, 354, 472, 520, 328, 750, 790, 700, 476, 548, 284, 342, 306, 516, 844, 758, 632, 404, 642, 652, 316, 450, 514, 300]
Odd Num: [299, 587, 167, 351, 403, 835, 759, 269, 515, 375, 581, 343, 351, 495, 771, 425, 453, 195, 109, 701, 487, 853, 197, 785, 341, 297, 717, 287, 769, 269, 777, 473, 283, 809, 637, 435, 353, 599, 811, 241, 687, 285, 807, 813, 807, 113, 191, 237, 711, 305, 643, 749]
Prime Num: [332, 624, 570, 299, 378, 587, 167, 351, 820, 403, 835, 696, 759, 318, 269, 714, 102, 308, 838, 582, 515, 504, 375, 492, 856, 772, 581, 762, 800, 343, 351, 570, 288, 798, 495, 258, 868, 294, 771, 802, 354, 472, 425, 453, 520, 328, 195, 750, 109, 790, 701, 700, 487, 853, 476, 548, 197, 284, 785, 341, 297, 342, 717, 287, 306, 769, 516, 269, 844, 777, 758, 632, 473, 404, 283, 809, 637, 435, 353, 599, 642, 811, 652, 316, 450, 241, 687, 285, 807, 813, 807, 113, 191, 237, 711, 305, 514, 300, 643, 749]

4: Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set funcƟons: i. Find the unique scores achieved by both teams (union of sets). ii. Identify the scores that are common to both teams (intersection of sets). iii. Find the scores that are exclusive to each team (symmetric difference). iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A. v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [5]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A|B)
print(A&B)
print(A.symmetric_difference(B))

print(f"The scores of team A are a subset of team B: {A.issubset(B)}")
print(f"team B's scores are a superset of team A: {B.issuperset(A)}")

user_in = int(input("Enter a score: "))
# Try to remove the score from A
if user_in in A:
    A.remove(user_in)
    print(f"Score {user_in} removed.")
else:
    print(f"Score {user_in} not present in team A.")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
The scores of team A are a subset of team B: False
team B's scores are a superset of team A: False
Enter a score: 20
Score 20 not present in team A.

*Qno 5*

In [6]:
dict1 = {
    'name':"Vijayshree Vaibhav",
    'age' :20,
    'salary' : 105200000,
    'city': 'Dhanbad'
}
print(dict1)
dict1['location'] = dict1.pop('city')
print(dict1)

{'name': 'Vijayshree Vaibhav', 'age': 20, 'salary': 105200000, 'city': 'Dhanbad'}
{'name': 'Vijayshree Vaibhav', 'age': 20, 'salary': 105200000, 'location': 'Dhanbad'}